
  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden; /* prevents content from pushing scroll buttons off-screen */
    gap: 8px;
    padding: 1rem 0;
  }
  .scroll-container {
    overflow-x: auto;
    display: flex;
    gap: 12px;
    padding: 0 8px;
    scroll-behavior: smooth;
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  
  // .scrollContainer::-webkit-scrollbar {
  //   display: none; /* Chrome, Safari */
  // }
  
  // .scrollButton {
  //   flex-shrink: 0;
  // }
  